/* layout. */
#wrapper {
  padding-left: $sidebar-width;

  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-width;
    width: $sidebar-width;
    height: 100%;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    background: $sidebar-bg;
  }

  #page-content-wrapper {
    position: relative;
    width: 100%;
    margin-right: 0;
  }
}


