#cover
  .container-fluid
    .row
      .col-md-12.text-center
        h1
          | Airport
    .row
      .col-md-12.text-center
        .loading-icon
          i.fa.fa-spinner.fa-spin.fa-2x
          